main {

}
textarea#code, textarea#input, textarea#output {
  resize: none;
}
button#run{
  margin: 10px auto 10px 20px;
  height: 40px;
  width: 80px;
  border:none;
  background-color: #2196F3;
  border-radius: 5px;
  border-bottom: solid 3px #0D47A1;
  color: #FFFFFF;
}
button#run:hover{
  cursor: pointer;
}
button#run:active{
  margin: 13px auto 10px 20px;
  height: 37px;
  border-bottom: none;
}
